<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Core API - Python Sample</title> 
    <!-- Jquery -->
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
    <!-- Bootstrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
</head>
 
<body style="margin: 20px;">
    <h2 style="text-align:center">Core API - Python Sample</h2>
    <!-- //Connect To Core -->
    <div style="text-align:center;padding-top: 20px;">
        <form action="connectToCore" method="post">
            <input type="submit" class="btn btn-primary" name="btnConnectToCore" id="btnConnectToCore" value="Connect to Core API" />
        </form>
    </div>
    
</body>
 
</html>